@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid limegreen !important; */
}

.header-section .container p{
  font-family: "Permanent Marker", cursive;
}
.popular-products-section .container .popular-product{
  transition: all 0.4s ease;
}
.popular-product:hover{
  transform: scale(1.01)
}
.popular-product:hover .product-details{
  background-color: gray;
}

.banner-section .container .details-container p:first-child{
  font-family: "Permanent Marker", cursive;
}

.specific-product-section .container .specific-product-title{
  -webkit-text-stroke: 1px #000
}
.credit-card{
  background: rgb(154, 132, 110);
  background: linear-gradient(55deg, rgba(154, 132, 110, 0.9220063025210083) 31%, rgba(207, 175, 143, 0.9248074229691877) 63%, rgba(201, 170, 139, 0.7819502801120448) 72%, rgba(157, 129, 100, 0.4654236694677871) 88%);
}
@media(max-width: 640px)
{
  .specific-product-section .container .specific-product-title{
    writing-mode: vertical-rl;
  }
}